<div class="container">

    <p class="textr aline"><b class="textrb">UPTIME</b>&nbsp;&nbsp;Last 30 days</p>


    <div class="bars-container">
        <div class="rect1">
            <div class="conR2">
                <p class="textrb">Sigo APP</p>
                <p class="textr">98%</p>
            </div>
            <div class="conR2">
                <div class="cirUp">
                    <div class="circulo"></div>
                    <p class="textr up">Up</p>
                </div>
                <p class="textr">Today</p>
            </div>

        </div>
        <hr class="verticalLine1">
        <div class="rect2">
            <div class="conR2">
                <p class="textr">Traking</p>
                <p class="textr">100</p>
            </div>
            <div class="conR2">
                <div class="cirUp">
                    <div class="circulo"></div>
                    <p class="textr up">Up</p>
                </div>
                <p class="textr">Today</p>
            </div>


        </div>

    </div>
    <p class="over"><b class="textrb">OVERALL UPTIME</b></p>
    <div class="prueba">
        <div class="rect3">

            <div class="contG">
                <div>
                    <p class="textr">100%</p>
                    <p class="textr">Last 24 days</p>
                </div>
                <hr class="verticalLine">
                <div>
                    <p class="textr">98.83%</p>
                    <p class="textr">Last 7 days</p>
                </div>
                <hr class="verticalLine">
                <div>
                    <p class="textr">98.83%</p>
                    <p class="textr">Last 30 days</p>
                </div>
            </div>
        </div>
    </div>
</div>